

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}
a{
    text-decoration:none;
    color: #100c0c;
    
    &:hover{
      color: white;
    }
  }
  
  #header-nav{
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    background: rgb(17, 15, 15);
    background-color: rgb(17, 15, 15);
  
   
        -webkit-transition:-webkit-transform 0.7s .3s ease;
         -moz-transition:   -moz-transform 0.7s .3s ease;
          -ms-transition:    -ms-transform 0.7s .3s ease;
              transition:        transform 0.7s .3s ease;
  
  }
  
  #header-nav.hide-nav-bar{
     -webkit-transform: translate(0, -100%);
     -moz-transform: translate(0, -100%);
     -ms-transform: translate(0, -100%);
     transform: translate(0, -100%);
     
  }
    
  
  
  a.menu-link {
            float: right;
              display: block;
              padding: 1em;
          }
          nav[role=navigation] {
              clear: right;
              -webkit-transition: all 0.3s ease-out;  
              -moz-transition: all 0.3s ease-out;
              -ms-transition: all 0.3s ease-out;
              -o-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out;
          }
          .js nav[role=navigation] {
              overflow: hidden;
              max-height: 0;
          }
          nav[role=navigation].active {
              max-height: 15em;
          }
          nav[role=navigation] ul {
              margin: 0;
              padding: 0;
        float: left;
            padding: 0.7em 0;
          }
          nav[role=navigation] li a {
              display: block;
              padding: 0.8em;
 
  font-size: 0.9em;
          }
  
  
  .menu-link {
    height: 30px;
    width: 33px;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    margin-top: 1px;
    background: black;
    height: 4px;
    position: absolute;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
  }
  
  .bar2 {
   margin-top: 13px;
  }
  .bar3 {
    margin-top: 23px;
   
    -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  }
  
    .brand{
      float: left;
      margin-left: 1em;
      padding: 1em;
    h1{
      margin: 0;
      font-size:1.em;
    }
      
    }
    
  
  
  
          @media screen and (min-width: 48.25em) {
          
        a.menu-link {
                 display: none;
              }
              .js nav[role=navigation] {
                  max-height: none;
              }
              nav[role=navigation] ul {
                  margin: 0 0 0 -0.25em;
                  border: 0;
          float: right;
              }
              
              nav[role=navigation]  li {
                  display: inline-block;
                  margin: 0 0.25em;
              }
              nav[role=navigation] li a {
                  
          border: 0;
              }
          }
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("photographer.jpg");
    
    /* Add the blur effect */
    filter: blur(20px);
    -webkit-filter: blur(20px);

    .btn {
        background: #fb2bff;
        background-image: -webkit-linear-gradient(top, #fb2bff, #362042);
        background-image: -moz-linear-gradient(top, #fb2bff, #362042);
        background-image: -ms-linear-gradient(top, #fb2bff, #362042);
        background-image: -o-linear-gradient(top, #fb2bff, #362042);
        background-image: linear-gradient(to bottom, #fb2bff, #362042);
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Courier New;
        color: #ffffff;
        font-size: 31px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      
      .btn:hover {
        background: #e6e6e6;
        background-image: -webkit-linear-gradient(top, #e6e6e6, #231f24);
        background-image: -moz-linear-gradient(top, #e6e6e6, #231f24);
        background-image: -ms-linear-gradient(top, #e6e6e6, #231f24);
        background-image: -o-linear-gradient(top, #e6e6e6, #231f24);
        background-image: linear-gradient(to bottom, #e6e6e6, #231f24);
        text-decoration: none;
      }
      .btn{
        
        position: absolute;
        top: 50%;
        right: 50%;
      }
    }
    .img1{
      filter: blur(8px);
      -webkit-filter: blur(8px);
    }
    .bg-text1{
      position: absolute;
      left: 10%;
      top: 100%;
    }
    .h11{
      position: absolute;
      left: 75%;
      top: 1%;
      color: white;
    }
    .div {
      margin: auto;
      padding: 0 1rem;
      max-width: 75rem;
      width: 100%;
      
    }
    
main {
  padding: 2rem 0;
}

.grid {
  > [class*="column-"] {
    padding: 1rem;
  }
}

.section-heading {
  transform: rotate(0) translateX(0);
}
.section-heading {
  position: absolute;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);
  left: 23%;
}

.intro {
  padding: 1rem;
  margin: 1rem 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.im{
  object-fit: cover;
    height: 40rem;
}
p {
  margin: 0 0 1.5rem;
  &:nth-child(4) {
    margin: 0;
  }
  &.copyright {
    margin: 1.5rem 0;
  }
}
body {
  
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color:  #8e8e8e;
  background: #fff;
 
}
